
<div class="container">
  <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Job Id</div>
      <div class="col col-2">employee Name</div>
      <div class="col col-3">Salaire</div>
      <div class="col col-4"> poste</div>
    </li>
    <li class="table-row" *ngFor = "let e of emp">
      <div class="col col-1" data-label="Job Id">{{e.id}}</div>
      <div class="col col-2" data-label="Customer Name">{{e.name}}</div>
      <div class="col col-3" data-label="Amount">{{e.salaire}}</div>
      <div class="col col-4" data-label="Payment Status">{{e.poste}}</div>
    </li> 
  </ul>
</div>


<div class="CONTAINERFORM">
<h2>add employee</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="employeeObject.name">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">salaire</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)] = "employeeObject.salaire" >
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">poste</label>
    <input type="email" class="form-control" [(ngModel)] = "employeeObject.poste" id="exampleFormControlInput1" >
  </div>
  

<button (click) = "postMethod()" >ADD</button>
</div>
<router-outlet></router-outlet>
